body {
  background: #6643b5;
  color: #d5def5;
}

h1 {
  font-size: 35px;
  font-weight: bolder;
}

li {
  list-style: none;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid white;
  background-color: #430f58;
  border-radius: 5px;
}

.overview {
  margin-bottom: 50px;
}

.weather-temp {
  text-align: center;
  font-size: larger;
}
