body {
  background: #6643b5;
  color: #d5def5;
}

img {
  display: block;
  margin-right: 10px;
  height: 64px;
  width: 64px;
}

h1 {
  font-size: 35px;
  font-weight: bolder;
}

h4 {
  background-color: #d5def5;
  color: #430f58;
  padding: 10px 20px;
  border-radius: 30px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  font-size: 18px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

.currentLocationButton {
  background: #d5def5;
  color: #6643b5;
  font-weight: bold;
  border-radius: 30;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid white;
  background-color: #430f58;
  border-radius: 5px;
}

.overview {
  margin-bottom: 50px;
}

.weatherTemp {
  text-align: center;
  font-size: 30px;
}

.units {
  text-align: center;
  padding-top: 10px;
  padding-right: 10px;
  font-size: 20px;
}
